# coding: utf-8

"""
    SuperMQ Clients Service

    This is the Clients Server based on the OpenAPI 3.0 specification.  It is the HTTP API for managing platform clients. You can now help us improve the API whether it's by making changes to the definition itself or to the code. Some useful links: - [The SuperMQ repository](https://github.com/absmach/supermq)   # noqa: E501

    OpenAPI spec version: 0.18.0
    Contact: info@abstractmachines.fr
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ClientsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def bulk_create_clients(self, body, domain_id, **kwargs):  # noqa: E501
        """Bulk provisions new clients  # noqa: E501

        Adds a list of new clients to the list of clients owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_create_clients(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[ClientReqObj] body: JSON-formatted document describing the new clients. (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: ClientsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_create_clients_with_http_info(body, domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_create_clients_with_http_info(body, domain_id, **kwargs)  # noqa: E501
            return data

    def bulk_create_clients_with_http_info(self, body, domain_id, **kwargs):  # noqa: E501
        """Bulk provisions new clients  # noqa: E501

        Adds a list of new clients to the list of clients owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_create_clients_with_http_info(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[ClientReqObj] body: JSON-formatted document describing the new clients. (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: ClientsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_create_clients" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_create_clients`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `bulk_create_clients`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/bulk', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClientsPage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_client(self, body, domain_id, **kwargs):  # noqa: E501
        """Adds new client  # noqa: E501

        Adds new client to the list of clients owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_client(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientReqObj body: JSON-formatted document describing the new client to be registered (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_client_with_http_info(body, domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_client_with_http_info(body, domain_id, **kwargs)  # noqa: E501
            return data

    def create_client_with_http_info(self, body, domain_id, **kwargs):  # noqa: E501
        """Adds new client  # noqa: E501

        Adds new client to the list of clients owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_client_with_http_info(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientReqObj body: JSON-formatted document describing the new client to be registered (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_client" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_client`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `create_client`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Client',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def disable_client(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Disables a client  # noqa: E501

        Disables a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disable_client(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.disable_client_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.disable_client_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def disable_client_with_http_info(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Disables a client  # noqa: E501

        Disables a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disable_client_with_http_info(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method disable_client" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `disable_client`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `disable_client`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}/disable', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Client',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def domain_id_clients_client_id_delete(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Delete client for a client with the given id.  # noqa: E501

        Delete client removes a client with the given id from repo and removes all the policies related to this client.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_clients_client_id_delete(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.domain_id_clients_client_id_delete_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.domain_id_clients_client_id_delete_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def domain_id_clients_client_id_delete_with_http_info(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Delete client for a client with the given id.  # noqa: E501

        Delete client removes a client with the given id from repo and removes all the policies related to this client.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_clients_client_id_delete_with_http_info(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method domain_id_clients_client_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `domain_id_clients_client_id_delete`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `domain_id_clients_client_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def enable_client(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Enables a client  # noqa: E501

        Enables a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_client(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.enable_client_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.enable_client_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def enable_client_with_http_info(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Enables a client  # noqa: E501

        Enables a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_client_with_http_info(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method enable_client" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `enable_client`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `enable_client`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}/enable', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Client',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_client(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Retrieves client info  # noqa: E501

        Retrieves a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_client_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_client_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def get_client_with_http_info(self, domain_id, client_id, **kwargs):  # noqa: E501
        """Retrieves client info  # noqa: E501

        Retrieves a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_client_with_http_info(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_client" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `get_client`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `get_client`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Client',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_clients(self, domain_id, **kwargs):  # noqa: E501
        """Retrieves clients  # noqa: E501

        Retrieves a list of clients. Due to performance concerns, data is retrieved in subsets. The API clients must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_clients(domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param int limit: Size of the subset to retrieve.
        :param int offset: Number of items to skip during retrieval.
        :param str order: Field by which to order the results
        :param str dir: Direction of ordering the results.
        :param str metadata: Metadata filter. Filtering is performed matching the parameter with metadata on top level. Parameter is json.
        :param str status: Client account status.
        :param str name: Client's name.
        :param list[str] tags: Client tags.
        :param str id: List clients with the given ID.
        :param str actions: Filter by actions. Multiple actions can be specified separated by comma.
        :param str role_id: Filter by role ID.
        :param str role_name: Filter by role name.
        :param str access_type: Type of access the user has on the client.
        :param bool only_total: If true, the response will contain only the total number of clients that match the query parameters.
        :param str channel: If provided lists clients connected to a channel with the provided ID.
        :param str connection_type: If provided with channel parameter lists clients connected to the channel with the provided connection type.
        :param str group: If provided lists clients belonging to a group with the provided ID.
        :param str user: If provided lists clients associated with a user with the provided ID. Only available for admin users.
        :return: ClientsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_clients_with_http_info(domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_clients_with_http_info(domain_id, **kwargs)  # noqa: E501
            return data

    def list_clients_with_http_info(self, domain_id, **kwargs):  # noqa: E501
        """Retrieves clients  # noqa: E501

        Retrieves a list of clients. Due to performance concerns, data is retrieved in subsets. The API clients must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_clients_with_http_info(domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param int limit: Size of the subset to retrieve.
        :param int offset: Number of items to skip during retrieval.
        :param str order: Field by which to order the results
        :param str dir: Direction of ordering the results.
        :param str metadata: Metadata filter. Filtering is performed matching the parameter with metadata on top level. Parameter is json.
        :param str status: Client account status.
        :param str name: Client's name.
        :param list[str] tags: Client tags.
        :param str id: List clients with the given ID.
        :param str actions: Filter by actions. Multiple actions can be specified separated by comma.
        :param str role_id: Filter by role ID.
        :param str role_name: Filter by role name.
        :param str access_type: Type of access the user has on the client.
        :param bool only_total: If true, the response will contain only the total number of clients that match the query parameters.
        :param str channel: If provided lists clients connected to a channel with the provided ID.
        :param str connection_type: If provided with channel parameter lists clients connected to the channel with the provided connection type.
        :param str group: If provided lists clients belonging to a group with the provided ID.
        :param str user: If provided lists clients associated with a user with the provided ID. Only available for admin users.
        :return: ClientsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'limit', 'offset', 'order', 'dir', 'metadata', 'status', 'name', 'tags', 'id', 'actions', 'role_id', 'role_name', 'access_type', 'only_total', 'channel', 'connection_type', 'group', 'user']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_clients" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `list_clients`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'dir' in params:
            query_params.append(('dir', params['dir']))  # noqa: E501
        if 'metadata' in params:
            query_params.append(('metadata', params['metadata']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'tags' in params:
            query_params.append(('tags', params['tags']))  # noqa: E501
            collection_formats['tags'] = 'multi'  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'actions' in params:
            query_params.append(('actions', params['actions']))  # noqa: E501
        if 'role_id' in params:
            query_params.append(('role_id', params['role_id']))  # noqa: E501
        if 'role_name' in params:
            query_params.append(('role_name', params['role_name']))  # noqa: E501
        if 'access_type' in params:
            query_params.append(('access_type', params['access_type']))  # noqa: E501
        if 'only_total' in params:
            query_params.append(('only_total', params['only_total']))  # noqa: E501
        if 'channel' in params:
            query_params.append(('channel', params['channel']))  # noqa: E501
        if 'connection_type' in params:
            query_params.append(('connection_type', params['connection_type']))  # noqa: E501
        if 'group' in params:
            query_params.append(('group', params['group']))  # noqa: E501
        if 'user' in params:
            query_params.append(('user', params['user']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClientsPage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_client_parent_group(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Removes a parent group from a client.  # noqa: E501

        Removes a parent group from a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_client_parent_group(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a client. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.remove_client_parent_group_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_client_parent_group_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def remove_client_parent_group_with_http_info(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Removes a parent group from a client.  # noqa: E501

        Removes a parent group from a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_client_parent_group_with_http_info(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a client. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_client_parent_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `remove_client_parent_group`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `remove_client_parent_group`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `remove_client_parent_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}/parent', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def set_client_parent_group(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Sets a parent group for a client  # noqa: E501

        Sets a parent group for a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_client_parent_group(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a client. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.set_client_parent_group_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.set_client_parent_group_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def set_client_parent_group_with_http_info(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Sets a parent group for a client  # noqa: E501

        Sets a parent group for a specific client that is identified by the client ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_client_parent_group_with_http_info(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a client. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method set_client_parent_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `set_client_parent_group`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `set_client_parent_group`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `set_client_parent_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}/parent', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Updates name and metadata of the client.  # noqa: E501

        Update is performed by replacing the current resource data with values provided in a request payload. Note that the client's type and ID cannot be changed.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientUpdate body: JSON-formated document describing the metadata and name of client to be update (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def update_client_with_http_info(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Updates name and metadata of the client.  # noqa: E501

        Update is performed by replacing the current resource data with values provided in a request payload. Note that the client's type and ID cannot be changed.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_with_http_info(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientUpdate body: JSON-formated document describing the metadata and name of client to be update (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `update_client`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `update_client`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Client',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client_secret(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Updates Secret of the identified client.  # noqa: E501

        Updates secret of the identified in client. Secret is updated using authorization token and the new received info. Update is performed by replacing current key with a new one.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_secret(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientSecret body: Secret change data. Client can change its secret. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_secret_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_secret_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def update_client_secret_with_http_info(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Updates Secret of the identified client.  # noqa: E501

        Updates secret of the identified in client. Secret is updated using authorization token and the new received info. Update is performed by replacing current key with a new one.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_secret_with_http_info(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientSecret body: Secret change data. Client can change its secret. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client_secret" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client_secret`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `update_client_secret`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `update_client_secret`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}/secret', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Client',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_client_tags(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Updates tags the client.  # noqa: E501

        Updates tags of the client with provided ID. Tags is updated using authorization token and the new tags received in request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_tags(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientTags body: JSON-formated document describing the tags of client to be update (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_client_tags_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_client_tags_with_http_info(body, domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def update_client_tags_with_http_info(self, body, domain_id, client_id, **kwargs):  # noqa: E501
        """Updates tags the client.  # noqa: E501

        Updates tags of the client with provided ID. Tags is updated using authorization token and the new tags received in request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_client_tags_with_http_info(body, domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ClientTags body: JSON-formated document describing the tags of client to be update (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str client_id: Unique client identifier. (required)
        :return: Client
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_client_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_client_tags`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `update_client_tags`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `update_client_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/clients/{clientID}/tags', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Client',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
