# coding: utf-8

"""
    SuperMQ Channels Service

    This is the Channels Server based on the OpenAPI 3.0 specification.  It is the HTTP API for managing platform channels. You can now help us improve the API whether it's by making changes to the definition itself or to the code. Some useful links: - [The SuperMQ repository](https://github.com/absmach/supermq)   # noqa: E501

    OpenAPI spec version: 0.18.0
    Contact: info@abstractmachines.fr
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ChannelsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_channel(self, body, domain_id, **kwargs):  # noqa: E501
        """Creates new channel  # noqa: E501

        Creates new channel in domain.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_channel(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelReqObj body: JSON-formatted document describing the new channel to be registered (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_channel_with_http_info(body, domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_channel_with_http_info(body, domain_id, **kwargs)  # noqa: E501
            return data

    def create_channel_with_http_info(self, body, domain_id, **kwargs):  # noqa: E501
        """Creates new channel  # noqa: E501

        Creates new channel in domain.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_channel_with_http_info(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelReqObj body: JSON-formatted document describing the new channel to be registered (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_channel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_channel`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `create_channel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Channel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_channels(self, body, domain_id, **kwargs):  # noqa: E501
        """Creates new channels  # noqa: E501

        Creates new channels in domain.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_channels(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[ChannelReqObj] body: JSON-formatted document describing the new channels to be registered (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: list[Channel]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_channels_with_http_info(body, domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_channels_with_http_info(body, domain_id, **kwargs)  # noqa: E501
            return data

    def create_channels_with_http_info(self, body, domain_id, **kwargs):  # noqa: E501
        """Creates new channels  # noqa: E501

        Creates new channels in domain.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_channels_with_http_info(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[ChannelReqObj] body: JSON-formatted document describing the new channels to be registered (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: list[Channel]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_channels" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_channels`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `create_channels`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/bulk', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Channel]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def disable_channel(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Disables a channel  # noqa: E501

        Disables a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disable_channel(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.disable_channel_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.disable_channel_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def disable_channel_with_http_info(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Disables a channel  # noqa: E501

        Disables a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disable_channel_with_http_info(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method disable_channel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `disable_channel`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `disable_channel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}/disable', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Channel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def domain_id_channels_chan_id_delete(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Delete channel for given channel id.  # noqa: E501

        Delete channel remove given channel id from repo and removes all the policies related to channel.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_channels_chan_id_delete(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.domain_id_channels_chan_id_delete_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.domain_id_channels_chan_id_delete_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def domain_id_channels_chan_id_delete_with_http_info(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Delete channel for given channel id.  # noqa: E501

        Delete channel remove given channel id from repo and removes all the policies related to channel.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_channels_chan_id_delete_with_http_info(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method domain_id_channels_chan_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `domain_id_channels_chan_id_delete`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `domain_id_channels_chan_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def enable_channel(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Enables a channel  # noqa: E501

        Enables a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_channel(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.enable_channel_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.enable_channel_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def enable_channel_with_http_info(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Enables a channel  # noqa: E501

        Enables a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_channel_with_http_info(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method enable_channel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `enable_channel`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `enable_channel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}/enable', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Channel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_channel(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Retrieves channel info.  # noqa: E501

        Gets info on a channel specified by id.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_channel(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_channel_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_channel_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def get_channel_with_http_info(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Retrieves channel info.  # noqa: E501

        Gets info on a channel specified by id.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_channel_with_http_info(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_channel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `get_channel`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `get_channel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Channel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_channels(self, domain_id, **kwargs):  # noqa: E501
        """Lists channels.  # noqa: E501

        Retrieves a list of channels. Due to performance concerns, data is retrieved in subsets. The API clients must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_channels(domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param int limit: Size of the subset to retrieve.
        :param int offset: Number of items to skip during retrieval.
        :param str order: Field by which to order the results
        :param str dir: Direction of ordering the results.
        :param str metadata: Metadata filter. Filtering is performed matching the parameter with metadata on top level. Parameter is json.
        :param str status: Client account status.
        :param str name: Channel's name.
        :param str id: List channels with the given ID.
        :param str actions: Filter by actions. Multiple actions can be specified separated by comma.
        :param str role_id: Filter by role ID.
        :param str role_name: Filter by role name.
        :param str access_type: Type of access the user has on the channel.
        :param bool only_total: If true, the response will contain only the total number of channels that match the query parameters.
        :param str client: If provided lists channels that a client with the provided ID is connected to.
        :param str group: If provided lists channels belonging to a group with the provided ID.
        :param str user: If provided lists channels associated with a user with the provided ID. Only available for admin users.
        :return: ChannelsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_channels_with_http_info(domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_channels_with_http_info(domain_id, **kwargs)  # noqa: E501
            return data

    def list_channels_with_http_info(self, domain_id, **kwargs):  # noqa: E501
        """Lists channels.  # noqa: E501

        Retrieves a list of channels. Due to performance concerns, data is retrieved in subsets. The API clients must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_channels_with_http_info(domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param int limit: Size of the subset to retrieve.
        :param int offset: Number of items to skip during retrieval.
        :param str order: Field by which to order the results
        :param str dir: Direction of ordering the results.
        :param str metadata: Metadata filter. Filtering is performed matching the parameter with metadata on top level. Parameter is json.
        :param str status: Client account status.
        :param str name: Channel's name.
        :param str id: List channels with the given ID.
        :param str actions: Filter by actions. Multiple actions can be specified separated by comma.
        :param str role_id: Filter by role ID.
        :param str role_name: Filter by role name.
        :param str access_type: Type of access the user has on the channel.
        :param bool only_total: If true, the response will contain only the total number of channels that match the query parameters.
        :param str client: If provided lists channels that a client with the provided ID is connected to.
        :param str group: If provided lists channels belonging to a group with the provided ID.
        :param str user: If provided lists channels associated with a user with the provided ID. Only available for admin users.
        :return: ChannelsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'limit', 'offset', 'order', 'dir', 'metadata', 'status', 'name', 'id', 'actions', 'role_id', 'role_name', 'access_type', 'only_total', 'client', 'group', 'user']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_channels" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `list_channels`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'dir' in params:
            query_params.append(('dir', params['dir']))  # noqa: E501
        if 'metadata' in params:
            query_params.append(('metadata', params['metadata']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'actions' in params:
            query_params.append(('actions', params['actions']))  # noqa: E501
        if 'role_id' in params:
            query_params.append(('role_id', params['role_id']))  # noqa: E501
        if 'role_name' in params:
            query_params.append(('role_name', params['role_name']))  # noqa: E501
        if 'access_type' in params:
            query_params.append(('access_type', params['access_type']))  # noqa: E501
        if 'only_total' in params:
            query_params.append(('only_total', params['only_total']))  # noqa: E501
        if 'client' in params:
            query_params.append(('client', params['client']))  # noqa: E501
        if 'group' in params:
            query_params.append(('group', params['group']))  # noqa: E501
        if 'user' in params:
            query_params.append(('user', params['user']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChannelsPage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_channel_parent_group(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Removes a parent group from a channel.  # noqa: E501

        Removes a parent group from a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_channel_parent_group(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a channel. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.remove_channel_parent_group_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_channel_parent_group_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def remove_channel_parent_group_with_http_info(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Removes a parent group from a channel.  # noqa: E501

        Removes a parent group from a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_channel_parent_group_with_http_info(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a channel. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_channel_parent_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `remove_channel_parent_group`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `remove_channel_parent_group`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `remove_channel_parent_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}/parent', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def set_channel_parent_group(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Sets a parent group for a channel  # noqa: E501

        Sets a parent group for a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_channel_parent_group(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a channel. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.set_channel_parent_group_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.set_channel_parent_group_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def set_channel_parent_group_with_http_info(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Sets a parent group for a channel  # noqa: E501

        Sets a parent group for a specific channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_channel_parent_group_with_http_info(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ParentGroupReqObj body: JSON-formated document describing the parent group to be set to or removed from a channel. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method set_channel_parent_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `set_channel_parent_group`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `set_channel_parent_group`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `set_channel_parent_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}/parent', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_channel(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Updates channel data.  # noqa: E501

        Update is performed by replacing the current resource data with values provided in a request payload. Note that the channel's ID will not be affected.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_channel(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelUpdate body: JSON-formated document describing the metadata and name of channel to be updated. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_channel_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_channel_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def update_channel_with_http_info(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Updates channel data.  # noqa: E501

        Update is performed by replacing the current resource data with values provided in a request payload. Note that the channel's ID will not be affected.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_channel_with_http_info(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelUpdate body: JSON-formated document describing the metadata and name of channel to be updated. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_channel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_channel`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `update_channel`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `update_channel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Channel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_channel_tags(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Updates channel tags.  # noqa: E501

        Update is performed by replacing the current resource data with values provided in a request payload. Note that the channel's ID will not be affected.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_channel_tags(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelUpdateTags body: JSON-formated document describing the tags of channel to be updated. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_channel_tags_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_channel_tags_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def update_channel_tags_with_http_info(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Updates channel tags.  # noqa: E501

        Update is performed by replacing the current resource data with values provided in a request payload. Note that the channel's ID will not be affected.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_channel_tags_with_http_info(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelUpdateTags body: JSON-formated document describing the tags of channel to be updated. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: Channel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_channel_tags" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_channel_tags`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `update_channel_tags`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `update_channel_tags`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}/tags', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Channel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
