# coding: utf-8

"""
    SuperMQ Channels Service

    This is the Channels Server based on the OpenAPI 3.0 specification.  It is the HTTP API for managing platform channels. You can now help us improve the API whether it's by making changes to the definition itself or to the code. Some useful links: - [The SuperMQ repository](https://github.com/absmach/supermq)   # noqa: E501

    OpenAPI spec version: 0.18.0
    Contact: info@abstractmachines.fr
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ConnectionsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def connect_clients_and_channels(self, body, domain_id, **kwargs):  # noqa: E501
        """Connects client and channel.  # noqa: E501

        Connect clients specified by IDs to channels specified by IDs. Channel and client are owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connect_clients_and_channels(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connect_clients_and_channels_with_http_info(body, domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connect_clients_and_channels_with_http_info(body, domain_id, **kwargs)  # noqa: E501
            return data

    def connect_clients_and_channels_with_http_info(self, body, domain_id, **kwargs):  # noqa: E501
        """Connects client and channel.  # noqa: E501

        Connect clients specified by IDs to channels specified by IDs. Channel and client are owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connect_clients_and_channels_with_http_info(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connect_clients_and_channels" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `connect_clients_and_channels`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `connect_clients_and_channels`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/connect', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connect_clients_to_channel(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Connects clients to a channel  # noqa: E501

        Connects clients to a channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connect_clients_to_channel(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.connect_clients_to_channel_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.connect_clients_to_channel_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def connect_clients_to_channel_with_http_info(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Connects clients to a channel  # noqa: E501

        Connects clients to a channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connect_clients_to_channel_with_http_info(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connect_clients_to_channel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `connect_clients_to_channel`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `connect_clients_to_channel`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `connect_clients_to_channel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}/connect', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def disconnect_clients_and_channels(self, body, domain_id, **kwargs):  # noqa: E501
        """Disconnects client and channel.  # noqa: E501

        Disconnect clients specified by IDs from channels specified by IDs. Channel and client are owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disconnect_clients_and_channels(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.disconnect_clients_and_channels_with_http_info(body, domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.disconnect_clients_and_channels_with_http_info(body, domain_id, **kwargs)  # noqa: E501
            return data

    def disconnect_clients_and_channels_with_http_info(self, body, domain_id, **kwargs):  # noqa: E501
        """Disconnects client and channel.  # noqa: E501

        Disconnect clients specified by IDs from channels specified by IDs. Channel and client are owned by user identified using the provided access token.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disconnect_clients_and_channels_with_http_info(body, domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method disconnect_clients_and_channels" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `disconnect_clients_and_channels`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `disconnect_clients_and_channels`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/disconnect', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def disconnect_clients_from_channel(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Disconnects clients from a channel  # noqa: E501

        Disconnects clients to a channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disconnect_clients_from_channel(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.disconnect_clients_from_channel_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.disconnect_clients_from_channel_with_http_info(body, domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def disconnect_clients_from_channel_with_http_info(self, body, domain_id, chan_id, **kwargs):  # noqa: E501
        """Disconnects clients from a channel  # noqa: E501

        Disconnects clients to a channel that is identified by the channel ID.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.disconnect_clients_from_channel_with_http_info(body, domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ChannelConnectionReqSchema body: JSON-formatted document describing the new connection. (required)
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'chan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method disconnect_clients_from_channel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `disconnect_clients_from_channel`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `disconnect_clients_from_channel`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `disconnect_clients_from_channel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanID'] = params['chan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanID}/disconnect', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
