# coding: utf-8

"""
    Magistrala reader service

    HTTP API for reading messages. Some useful links: - [The Magistrala repository](https://github.com/absmach/magistrala)   # noqa: E501

    OpenAPI spec version: 0.15.1
    Contact: info@abstractmachines.fr
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ReadersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_messages(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Retrieves messages sent to single channel  # noqa: E501

        Retrieves a list of messages sent to specific channel. Due to performance concerns, data is retrieved in subsets. The API readers must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_messages(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :param int limit: Size of the subset to retrieve.
        :param int offset: Number of items to skip during retrieval.
        :param str publisher: Unique thing identifier.
        :param str name: SenML message name.
        :param str v: SenML message value.
        :param bool vb: SenML message bool value.
        :param str vs: SenML message string value.
        :param str vd: SenML message data value.
        :param float _from: SenML message time in nanoseconds (integer part represents seconds).
        :param float to: SenML message time in nanoseconds (integer part represents seconds).
        :param str aggregation: Aggregation function.
        :param str interval: Aggregation interval.
        :return: MessagesPage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_messages_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_messages_with_http_info(domain_id, chan_id, **kwargs)  # noqa: E501
            return data

    def get_messages_with_http_info(self, domain_id, chan_id, **kwargs):  # noqa: E501
        """Retrieves messages sent to single channel  # noqa: E501

        Retrieves a list of messages sent to specific channel. Due to performance concerns, data is retrieved in subsets. The API readers must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_messages_with_http_info(domain_id, chan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique domain identifier. (required)
        :param str chan_id: Unique channel identifier. (required)
        :param int limit: Size of the subset to retrieve.
        :param int offset: Number of items to skip during retrieval.
        :param str publisher: Unique thing identifier.
        :param str name: SenML message name.
        :param str v: SenML message value.
        :param bool vb: SenML message bool value.
        :param str vs: SenML message string value.
        :param str vd: SenML message data value.
        :param float _from: SenML message time in nanoseconds (integer part represents seconds).
        :param float to: SenML message time in nanoseconds (integer part represents seconds).
        :param str aggregation: Aggregation function.
        :param str interval: Aggregation interval.
        :return: MessagesPage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'chan_id', 'limit', 'offset', 'publisher', 'name', 'v', 'vb', 'vs', 'vd', '_from', 'to', 'aggregation', 'interval']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_messages" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `get_messages`")  # noqa: E501
        # verify the required parameter 'chan_id' is set
        if ('chan_id' not in params or
                params['chan_id'] is None):
            raise ValueError("Missing the required parameter `chan_id` when calling `get_messages`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'chan_id' in params:
            path_params['chanId'] = params['chan_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'publisher' in params:
            query_params.append(('Publisher', params['publisher']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'v' in params:
            query_params.append(('v', params['v']))  # noqa: E501
        if 'vb' in params:
            query_params.append(('vb', params['vb']))  # noqa: E501
        if 'vs' in params:
            query_params.append(('vs', params['vs']))  # noqa: E501
        if 'vd' in params:
            query_params.append(('vd', params['vd']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501
        if 'aggregation' in params:
            query_params.append(('aggregation', params['aggregation']))  # noqa: E501
        if 'interval' in params:
            query_params.append(('interval', params['interval']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth', 'thingAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/channels/{chanId}/messages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MessagesPage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
