# coding: utf-8

"""
    Magistrala Alarms API

    HTTP API for managing alarms service. Some useful links: - [The Magistrala repository](https://github.com/absmach/magistrala)   # noqa: E501

    OpenAPI spec version: 0.15.1
    Contact: info@abstractmachines.fr
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AlarmsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_alarm(self, domain_id, alarm_id, **kwargs):  # noqa: E501
        """Delete Alarm  # noqa: E501

        Deletes an alarm  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_alarm(domain_id, alarm_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Domain ID (required)
        :param str alarm_id: Alarm ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_alarm_with_http_info(domain_id, alarm_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_alarm_with_http_info(domain_id, alarm_id, **kwargs)  # noqa: E501
            return data

    def delete_alarm_with_http_info(self, domain_id, alarm_id, **kwargs):  # noqa: E501
        """Delete Alarm  # noqa: E501

        Deletes an alarm  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_alarm_with_http_info(domain_id, alarm_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Domain ID (required)
        :param str alarm_id: Alarm ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'alarm_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_alarm" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `delete_alarm`")  # noqa: E501
        # verify the required parameter 'alarm_id' is set
        if ('alarm_id' not in params or
                params['alarm_id'] is None):
            raise ValueError("Missing the required parameter `alarm_id` when calling `delete_alarm`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'alarm_id' in params:
            path_params['alarmID'] = params['alarm_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/alarms/{alarmID}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_alarms(self, domain_id, **kwargs):  # noqa: E501
        """List Alarms  # noqa: E501

        Retrieves a list of alarms with optional filtering   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_alarms(domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Domain ID (required)
        :param int offset: Number of items to skip
        :param int limit: Size of the subset to retrieve
        :param str order: Order by field
        :param str dir: Sort direction
        :param str channel_id: Filter by channel ID
        :param str client_id: Filter by client ID
        :param str subtopic: Filter by subtopic
        :param str rule_id: Filter by rule ID
        :param str status: Filter by alarm status
        :param str assignee_id: Filter by assignee ID
        :param int severity: Filter by severity level
        :param str updated_by: Filter by user who updated
        :param str assigned_by: Filter by user who assigned
        :param str acknowledged_by: Filter by user who acknowledged
        :param str resolved_by: Filter by user who resolved
        :param datetime created_from: Filter alarms created after this time (RFC3339 format)
        :param datetime created_to: Filter alarms created before this time (RFC3339 format)
        :return: AlarmsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_alarms_with_http_info(domain_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_alarms_with_http_info(domain_id, **kwargs)  # noqa: E501
            return data

    def list_alarms_with_http_info(self, domain_id, **kwargs):  # noqa: E501
        """List Alarms  # noqa: E501

        Retrieves a list of alarms with optional filtering   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_alarms_with_http_info(domain_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Domain ID (required)
        :param int offset: Number of items to skip
        :param int limit: Size of the subset to retrieve
        :param str order: Order by field
        :param str dir: Sort direction
        :param str channel_id: Filter by channel ID
        :param str client_id: Filter by client ID
        :param str subtopic: Filter by subtopic
        :param str rule_id: Filter by rule ID
        :param str status: Filter by alarm status
        :param str assignee_id: Filter by assignee ID
        :param int severity: Filter by severity level
        :param str updated_by: Filter by user who updated
        :param str assigned_by: Filter by user who assigned
        :param str acknowledged_by: Filter by user who acknowledged
        :param str resolved_by: Filter by user who resolved
        :param datetime created_from: Filter alarms created after this time (RFC3339 format)
        :param datetime created_to: Filter alarms created before this time (RFC3339 format)
        :return: AlarmsPage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'offset', 'limit', 'order', 'dir', 'channel_id', 'client_id', 'subtopic', 'rule_id', 'status', 'assignee_id', 'severity', 'updated_by', 'assigned_by', 'acknowledged_by', 'resolved_by', 'created_from', 'created_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_alarms" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `list_alarms`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'dir' in params:
            query_params.append(('dir', params['dir']))  # noqa: E501
        if 'channel_id' in params:
            query_params.append(('channel_id', params['channel_id']))  # noqa: E501
        if 'client_id' in params:
            query_params.append(('client_id', params['client_id']))  # noqa: E501
        if 'subtopic' in params:
            query_params.append(('subtopic', params['subtopic']))  # noqa: E501
        if 'rule_id' in params:
            query_params.append(('rule_id', params['rule_id']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'assignee_id' in params:
            query_params.append(('assignee_id', params['assignee_id']))  # noqa: E501
        if 'severity' in params:
            query_params.append(('severity', params['severity']))  # noqa: E501
        if 'updated_by' in params:
            query_params.append(('updated_by', params['updated_by']))  # noqa: E501
        if 'assigned_by' in params:
            query_params.append(('assigned_by', params['assigned_by']))  # noqa: E501
        if 'acknowledged_by' in params:
            query_params.append(('acknowledged_by', params['acknowledged_by']))  # noqa: E501
        if 'resolved_by' in params:
            query_params.append(('resolved_by', params['resolved_by']))  # noqa: E501
        if 'created_from' in params:
            query_params.append(('created_from', params['created_from']))  # noqa: E501
        if 'created_to' in params:
            query_params.append(('created_to', params['created_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/alarms', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AlarmsPage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_alarm(self, body, domain_id, alarm_id, **kwargs):  # noqa: E501
        """Update Alarm  # noqa: E501

        Updates an existing alarm  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_alarm(body, domain_id, alarm_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object body: JSON-formatted document describing the alarm update (required)
        :param str domain_id: Domain ID (required)
        :param str alarm_id: Alarm ID (required)
        :return: Alarm
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_alarm_with_http_info(body, domain_id, alarm_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_alarm_with_http_info(body, domain_id, alarm_id, **kwargs)  # noqa: E501
            return data

    def update_alarm_with_http_info(self, body, domain_id, alarm_id, **kwargs):  # noqa: E501
        """Update Alarm  # noqa: E501

        Updates an existing alarm  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_alarm_with_http_info(body, domain_id, alarm_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object body: JSON-formatted document describing the alarm update (required)
        :param str domain_id: Domain ID (required)
        :param str alarm_id: Alarm ID (required)
        :return: Alarm
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_id', 'alarm_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_alarm" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_alarm`")  # noqa: E501
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `update_alarm`")  # noqa: E501
        # verify the required parameter 'alarm_id' is set
        if ('alarm_id' not in params or
                params['alarm_id'] is None):
            raise ValueError("Missing the required parameter `alarm_id` when calling `update_alarm`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'alarm_id' in params:
            path_params['alarmID'] = params['alarm_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/alarms/{alarmID}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Alarm',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def view_alarm(self, domain_id, alarm_id, **kwargs):  # noqa: E501
        """View Alarm  # noqa: E501

        Retrieves an alarm by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.view_alarm(domain_id, alarm_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Domain ID (required)
        :param str alarm_id: Alarm ID (required)
        :return: Alarm
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.view_alarm_with_http_info(domain_id, alarm_id, **kwargs)  # noqa: E501
        else:
            (data) = self.view_alarm_with_http_info(domain_id, alarm_id, **kwargs)  # noqa: E501
            return data

    def view_alarm_with_http_info(self, domain_id, alarm_id, **kwargs):  # noqa: E501
        """View Alarm  # noqa: E501

        Retrieves an alarm by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.view_alarm_with_http_info(domain_id, alarm_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Domain ID (required)
        :param str alarm_id: Alarm ID (required)
        :return: Alarm
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'alarm_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method view_alarm" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `view_alarm`")  # noqa: E501
        # verify the required parameter 'alarm_id' is set
        if ('alarm_id' not in params or
                params['alarm_id'] is None):
            raise ValueError("Missing the required parameter `alarm_id` when calling `view_alarm`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'alarm_id' in params:
            path_params['alarmID'] = params['alarm_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/alarms/{alarmID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Alarm',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
