# coding: utf-8

"""
    SuperMQ http adapter

    HTTP API for sending messages through communication channels. Some useful links: - [The SuperMQ repository](https://github.com/absmach/supermq)   # noqa: E501

    OpenAPI spec version: 0.18.0
    Contact: info@abstractmachines.fr
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class MessagesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def m_domain_prefix_c_channel_prefix_post(self, body, domain_prefix, channel_prefix, **kwargs):  # noqa: E501
        """Sends message to the communication channel  # noqa: E501

        Sends message to the communication channel. Messages can be sent as JSON formatted SenML or as blob.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.m_domain_prefix_c_channel_prefix_post(body, domain_prefix, channel_prefix, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[SenMLRecord] body: Message to be distributed. Since the platform expects messages to be
properly formatted SenML in order to be post-processed, clients are
obliged to specify Content-Type header for each published message.
Note that all messages that aren't SenML will be accepted and published,
but no post-processing will be applied.
 (required)
        :param str domain_prefix: ID or route of the domain associated with the channel and client. (required)
        :param str channel_prefix: ID or route of the channel connected to the client. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.m_domain_prefix_c_channel_prefix_post_with_http_info(body, domain_prefix, channel_prefix, **kwargs)  # noqa: E501
        else:
            (data) = self.m_domain_prefix_c_channel_prefix_post_with_http_info(body, domain_prefix, channel_prefix, **kwargs)  # noqa: E501
            return data

    def m_domain_prefix_c_channel_prefix_post_with_http_info(self, body, domain_prefix, channel_prefix, **kwargs):  # noqa: E501
        """Sends message to the communication channel  # noqa: E501

        Sends message to the communication channel. Messages can be sent as JSON formatted SenML or as blob.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.m_domain_prefix_c_channel_prefix_post_with_http_info(body, domain_prefix, channel_prefix, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[SenMLRecord] body: Message to be distributed. Since the platform expects messages to be
properly formatted SenML in order to be post-processed, clients are
obliged to specify Content-Type header for each published message.
Note that all messages that aren't SenML will be accepted and published,
but no post-processing will be applied.
 (required)
        :param str domain_prefix: ID or route of the domain associated with the channel and client. (required)
        :param str channel_prefix: ID or route of the channel connected to the client. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'domain_prefix', 'channel_prefix']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method m_domain_prefix_c_channel_prefix_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `m_domain_prefix_c_channel_prefix_post`")  # noqa: E501
        # verify the required parameter 'domain_prefix' is set
        if ('domain_prefix' not in params or
                params['domain_prefix'] is None):
            raise ValueError("Missing the required parameter `domain_prefix` when calling `m_domain_prefix_c_channel_prefix_post`")  # noqa: E501
        # verify the required parameter 'channel_prefix' is set
        if ('channel_prefix' not in params or
                params['channel_prefix'] is None):
            raise ValueError("Missing the required parameter `channel_prefix` when calling `m_domain_prefix_c_channel_prefix_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_prefix' in params:
            path_params['domainPrefix'] = params['domain_prefix']  # noqa: E501
        if 'channel_prefix' in params:
            path_params['channelPrefix'] = params['channel_prefix']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/m/{domainPrefix}/c/{channelPrefix}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
