# coding: utf-8

"""
    SuperMQ Journal Log Service

    This is the Journal Log Server based on the OpenAPI 3.0 specification.  It is the HTTP API for viewing journal log history. You can now help us improve the API whether it's by making changes to the definition itself or to the code. Some useful links: - [The SuperMQ repository](https://github.com/absmach/supermq)   # noqa: E501

    OpenAPI spec version: 0.18.0
    Contact: info@mainflux.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class JournalLogApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def domain_id_journal_client_client_id_telemetry_get(self, domain_id, client_id, **kwargs):  # noqa: E501
        """View client telemetry  # noqa: E501

        Retrieves telemetry data for a specific client within a domain. This includes connection status, messages sent/received, and other metrics.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_journal_client_client_id_telemetry_get(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique identifier for a domain. (required)
        :param str client_id: Unique identifier for a client (required)
        :return: Telemetry
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.domain_id_journal_client_client_id_telemetry_get_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
        else:
            (data) = self.domain_id_journal_client_client_id_telemetry_get_with_http_info(domain_id, client_id, **kwargs)  # noqa: E501
            return data

    def domain_id_journal_client_client_id_telemetry_get_with_http_info(self, domain_id, client_id, **kwargs):  # noqa: E501
        """View client telemetry  # noqa: E501

        Retrieves telemetry data for a specific client within a domain. This includes connection status, messages sent/received, and other metrics.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_journal_client_client_id_telemetry_get_with_http_info(domain_id, client_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique identifier for a domain. (required)
        :param str client_id: Unique identifier for a client (required)
        :return: Telemetry
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'client_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method domain_id_journal_client_client_id_telemetry_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `domain_id_journal_client_client_id_telemetry_get`")  # noqa: E501
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `domain_id_journal_client_client_id_telemetry_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'client_id' in params:
            path_params['clientID'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/journal/client/{clientID}/telemetry', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Telemetry',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def domain_id_journal_entity_type_id_get(self, domain_id, entity_type, id, **kwargs):  # noqa: E501
        """List entity journal log  # noqa: E501

        Retrieves a list of journal. Due to performance concerns, data is retrieved in subsets. The API must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_journal_entity_type_id_get(domain_id, entity_type, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique identifier for a domain. (required)
        :param str entity_type: Type of entity, e.g. group, client, channel. (required)
        :param str id: Unique identifier for an entity, e.g. group, channel or client. Used together with entity_type. (required)
        :param int offset: Number of items to skip during retrieval.
        :param int limit: Size of the subset to retrieve.
        :param str operation: Journal operation.
        :param bool with_attributes: Include journal attributes.
        :param bool with_metadata: Include journal metadata.
        :param str _from: Start date in unix time.
        :param str to: End date in unix time.
        :param str dir: Sort direction.
        :return: JournalPage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.domain_id_journal_entity_type_id_get_with_http_info(domain_id, entity_type, id, **kwargs)  # noqa: E501
        else:
            (data) = self.domain_id_journal_entity_type_id_get_with_http_info(domain_id, entity_type, id, **kwargs)  # noqa: E501
            return data

    def domain_id_journal_entity_type_id_get_with_http_info(self, domain_id, entity_type, id, **kwargs):  # noqa: E501
        """List entity journal log  # noqa: E501

        Retrieves a list of journal. Due to performance concerns, data is retrieved in subsets. The API must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.domain_id_journal_entity_type_id_get_with_http_info(domain_id, entity_type, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str domain_id: Unique identifier for a domain. (required)
        :param str entity_type: Type of entity, e.g. group, client, channel. (required)
        :param str id: Unique identifier for an entity, e.g. group, channel or client. Used together with entity_type. (required)
        :param int offset: Number of items to skip during retrieval.
        :param int limit: Size of the subset to retrieve.
        :param str operation: Journal operation.
        :param bool with_attributes: Include journal attributes.
        :param bool with_metadata: Include journal metadata.
        :param str _from: Start date in unix time.
        :param str to: End date in unix time.
        :param str dir: Sort direction.
        :return: JournalPage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['domain_id', 'entity_type', 'id', 'offset', 'limit', 'operation', 'with_attributes', 'with_metadata', '_from', 'to', 'dir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method domain_id_journal_entity_type_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'domain_id' is set
        if ('domain_id' not in params or
                params['domain_id'] is None):
            raise ValueError("Missing the required parameter `domain_id` when calling `domain_id_journal_entity_type_id_get`")  # noqa: E501
        # verify the required parameter 'entity_type' is set
        if ('entity_type' not in params or
                params['entity_type'] is None):
            raise ValueError("Missing the required parameter `entity_type` when calling `domain_id_journal_entity_type_id_get`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `domain_id_journal_entity_type_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'domain_id' in params:
            path_params['domainID'] = params['domain_id']  # noqa: E501
        if 'entity_type' in params:
            path_params['entityType'] = params['entity_type']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'operation' in params:
            query_params.append(('operation', params['operation']))  # noqa: E501
        if 'with_attributes' in params:
            query_params.append(('with_attributes', params['with_attributes']))  # noqa: E501
        if 'with_metadata' in params:
            query_params.append(('with_metadata', params['with_metadata']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501
        if 'dir' in params:
            query_params.append(('dir', params['dir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/{domainID}/journal/{entityType}/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JournalPage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def journal_user_user_id_get(self, user_id, **kwargs):  # noqa: E501
        """List user journal log  # noqa: E501

        Retrieves a list of journal. Due to performance concerns, data is retrieved in subsets. The API must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.journal_user_user_id_get(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: Unique identifier for a user. (required)
        :param int offset: Number of items to skip during retrieval.
        :param int limit: Size of the subset to retrieve.
        :param str operation: Journal operation.
        :param bool with_attributes: Include journal attributes.
        :param bool with_metadata: Include journal metadata.
        :param str _from: Start date in unix time.
        :param str to: End date in unix time.
        :param str dir: Sort direction.
        :return: JournalPage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.journal_user_user_id_get_with_http_info(user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.journal_user_user_id_get_with_http_info(user_id, **kwargs)  # noqa: E501
            return data

    def journal_user_user_id_get_with_http_info(self, user_id, **kwargs):  # noqa: E501
        """List user journal log  # noqa: E501

        Retrieves a list of journal. Due to performance concerns, data is retrieved in subsets. The API must ensure that the entire dataset is consumed either by making subsequent requests, or by increasing the subset size of the initial request.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.journal_user_user_id_get_with_http_info(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: Unique identifier for a user. (required)
        :param int offset: Number of items to skip during retrieval.
        :param int limit: Size of the subset to retrieve.
        :param str operation: Journal operation.
        :param bool with_attributes: Include journal attributes.
        :param bool with_metadata: Include journal metadata.
        :param str _from: Start date in unix time.
        :param str to: End date in unix time.
        :param str dir: Sort direction.
        :return: JournalPage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'offset', 'limit', 'operation', 'with_attributes', 'with_metadata', '_from', 'to', 'dir']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method journal_user_user_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `journal_user_user_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in params:
            path_params['userID'] = params['user_id']  # noqa: E501

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'operation' in params:
            query_params.append(('operation', params['operation']))  # noqa: E501
        if 'with_attributes' in params:
            query_params.append(('with_attributes', params['with_attributes']))  # noqa: E501
        if 'with_metadata' in params:
            query_params.append(('with_metadata', params['with_metadata']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501
        if 'dir' in params:
            query_params.append(('dir', params['dir']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/journal/user/{userID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JournalPage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
